### Basics

In [12]:
c='a'
type(c)

str

In [15]:
c=0
c=5/2
type(c)

float

In [20]:
name,rollnum,age='python',123,23.5
#type(name)
#type(rollnum)
#type(age)
print(type(name),type(rollnum),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [35]:
#Swap
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [43]:
#2**5
pow(2,5)

32

In [3]:
#membership operator
#5 in [1,2,3,4]
5 not in [1,2,3,4]

True

In [10]:
#identity operator
#5 is 5
5 is not 10

True

In [11]:
"abc" is "abc" # its not work in code comparision

True

In [17]:
if (7<6):
    print("True")
elif(6<7):
    print("True")
else:
    print("False")

True

In [20]:
#ittaretive Statememts(while,for)
#range(10)
range(2,10,2)->2,4,6,8

range(2, 10, 2)

In [25]:
for i in range(2,10,2):
    print(i,end=",")

2,4,6,8,

In [28]:
#while
num=1
while num<6:
    print(num,end=",")
    num+=1

1,2,3,4,5,

In [38]:
#for
for i in range(1,6):
    print(i,end=",")

1,2,3,4,5,

In [37]:
for i in 1,2,3:
    print(i)

1
2
3

In [41]:
#reverse order
for i in range(10,4,-1):
    print(i,end=",")

10,9,8,7,6,5,

In [49]:
for i in "hai":
    print(i,end="")

hai

In [55]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [63]:
print(1,2,sep=",",end="*")
#print(3,4,sep=";")
print(3,sep=";")

1,2*3

In [77]:
n=input("enter no:")
print(n,type(n))

enter no:23.3
23.3 <class 'str'>

In [79]:
1+int("2")

3

In [80]:
num=10
print(num)

10

In [90]:
#list->list is a collection of elements
l=[1,2,3,4]
l[1]

2

 4 5 2 6 7 8 -> 6

 4 5         -> 2

 45          -> 1

 -1 -2       -> 2

In [27]:
l=input().split()
print(len(l))

4 5 2 6 7 8
6

In [28]:
l=input().split()
print(len(l))

4 5
2

In [1]:
data=input()
print(data)

1 3 5 7
1 3 5 7

In [2]:
data.split(" ")

['1', '3', '5', '7']

In [8]:
data=input()
count=0
for char in data.split(" "):
    count+=1
    print(count)

1 3 5 7 9
1
2
3
4
5

In [13]:
data=input()
len(data.split())

1 3 5 7 9

5

In [25]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [10]:
#1,2,3,4,5
data=input()
values=data.split(",")
sum=0
for value in values:
    sum=sum+int(value)
print(sum)

1,2,3,4,5
15

In [11]:
l=['1','2','3']
r=[]
for value in l:
    r.append(int(value))
print(r)

[1, 2, 3]

In [24]:
#map(method_name,list_of_values)
data=input()
sum=0
values=data.split(",")
list(map(int,values))
#int_values=list(map(int,values))
#sum(int_values)

1,2,3

[1, 2, 3]

In [11]:
data=input()
li=[]
for value in data.split("+"):
    li.append(int(value))
print(min(li))
print(max(li))

1+3+45+15
1
45

In [ ]:
t=int(input())
for i in range(1,t+1):
    s=input().split("+")
    for value in data.split("+"):
        li=list(max(int,s))
        print(min(li))
        print(max(li))

In [2]:
#90 80 100
marks=input()
marks_list=list(map(int,marks.split()))
print(sum(marks_list)//len(marks_list))

90 80 100
90